@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ravi300";
  src: url("../_fonts/Ravi-Light.woff") format("woff"),
    url("../_fonts/Ravi-Light.woff2") format("woff2"),
    url("../_fonts/Ravi-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ravi400";
  src: url("../_fonts/Ravi-Regular.woff") format("woff"),
    url("../_fonts/Ravi-Regular.woff2") format("woff2"),
    url("../_fonts/Ravi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ravi500";
  src: url("../_fonts/Ravi-Medium.woff") format("woff"),
    url("../_fonts/Ravi-Medium.woff2") format("woff2"),
    url("../_fonts/Ravi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ravi700";
  src: url("../_fonts/Ravi-SemiBold.woff") format("woff"),
    url("../_fonts/Ravi-SemiBold.woff2") format("woff2"),
    url("../_fonts/Ravi-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ravi800";
  src: url("../_fonts/RaviFaNum-Bold.woff") format("woff"),
    url("../_fonts/RaviFaNum-Bold.woff2") format("woff2"),
    url("../_fonts/RaviFaNum-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
body {
  transition: 0.3s ease-out;
  overflow-x: hidden;
  direction: rtl;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-size: 24px;
  line-height: 23px;
  text-align: right;
  font-family: "Ravi500";
}
h3,
h4,
h5,
h6 {
  font-family: "Ravi400";
  font-size: 16px;
  line-height: 25.04px;
  text-align: right;
}

a {
  font-family: "Ravi400";
  font-size: 14px;
  line-height: 21.91px;
  text-decoration: none;
}

.mainSwiper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.mainSwiper > .swiper-wrapper > .swiper-slide {
  overflow: hidden;
  background-color: white;
  transition-property: unset !important;
}
.mainSwiper .innerSlide {
  overflow: hidden;
  transform: translateY(400px);
  transition: transform 1s 1s;
}
.mainSwiper > .swiper-wrapper > .swiper-slide-active .innerSlide {
  transform: translateY(0);
  transition: 1s 0.5s;
}
.mainSwiper .slideUp {
  transform: translateY(-100%) !important;
}
.mainSwiper .innerDown {
  transform: translateY(0);
  transition: 0.8s;
}
.mainSwiper .firsIndex {
  z-index: 10 !important;
}
.mainSwiper .secondDelay {
  transition-delay: 1s !important;
}

.aboutUs .slide-1 .inner1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  background: linear-gradient(180deg, rgba(38, 38, 39, 0) 0%, #262627 100%),
    linear-gradient(90deg, rgba(72, 73, 74, 0) 0%, rgba(38, 38, 39, 0.85) 100%);
}

.aboutUs .pagination li {
  width: 10px;
  height: 10px;
  border: 4px solid #48494A;
  transition: 0.5s ease;
  background-color: #48494A;
  transform: rotate(45deg);
  cursor: pointer;
  border-radius: 2px;
}


.scrollDown1 .scrl span {
  animation: scrollDown1 4s infinite;
  transition: 2s;
  animation-delay: 0.5s;
}

.darkPagination li{
  border: 4px solid white!important;
  background-color: white!important;
}


.aboutUs .pagination li.activePaging {
  border: 3px solid #8f993c!important;
  background-color: transparent!important;
}
@keyframes scrollDown1 {
  0% {
    transform: translateY(-2px) rotate(45deg);
  }
  20% {
    transform: translateY(-2px) rotate(45deg);
  }
  50% {
    transform: translateY(-26px) rotate(45deg);
  }
  80% {
    transform: translateY(-2px) rotate(45deg);
  }
  100% {
    transform: translateY(-2px) rotate(45deg);
  }
}

.missionSlider .swiper-slide-active .para{
height: fit-content!important;
opacity: 1!important;
transform: scale(1)!important;
}

.missionpagination .swiper-pagination-bullet{
  width: 8px;
  height: 8px;
  border-radius: 1px;
  background-color: #48494A;
  border: 3px solid #48494A;
  transition: 0.5s ease;
  transform: rotate(45deg);
  opacity: 1;
}
.missionpagination .swiper-pagination-bullet-active{
  background-color: transparent;
  border: 3px solid #8F993C;
  width: 10px;
  height: 10px;
}
.paraSliderpagination .swiper-pagination-bullet , .pagination6 .swiper-pagination-bullet{
  width: 8px;
  height: 8px;
  border-radius: 1px;
  background-color: white;
  border: 3px solid white;
  transition: 0.5s ease;
  transform: rotate(45deg);
  opacity: 1;
}
.paraSliderpagination .swiper-pagination-bullet-active , .pagination6 .swiper-pagination-bullet-active{
  background-color: transparent;
  border: 3px solid #8F993C;
  width: 10px;
  height: 10px;
}


.activenavBarSlider span{
  color: white;
}
.activenavBarSlider{
  border-bottom: 1.5px solid white;
}


.aboutpopUp{
  transform: translateY(-100%);
}

.activePop{
  transform: translateY(0);

}


.managerPagination , .bookPagination  , .popUpPagination{
  font-family: "Ravi500";
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;
  color: #636466;
}